<launch>
  <arg name="camera"              default="camera"/>
  <arg name="align_depth"         default="true"/>
  <arg name="enable_gyro"         default="true"/>
  <arg name="enable_accel"        default="true"/>
  <arg name="unite_imu_method"    default="linear_interpolation"/>
  <arg name="depth_width"         default="640"/>
  <arg name="depth_height"        default="480"/>
  <arg name="depth_fps"           default="30"/>
  <arg name="color_width"         default="640"/>
  <arg name="color_height"        default="480"/>
  <arg name="color_fps"           default="30"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="align_depth"              value="$(arg align_depth)"/>
    <arg name="enable_gyro"              value="$(arg enable_gyro)"/>
    <arg name="enable_accel"             value="$(arg enable_accel)"/>
    <arg name="unite_imu_method"         value="$(arg unite_imu_method)"/>
    <arg name="depth_width"              value="$(arg depth_width)"/>
    <arg name="depth_height"             value="$(arg depth_height)"/>
    <arg name="depth_fps"                value="$(arg depth_fps)"/>
    <arg name="color_width"              value="$(arg color_width)"/>
    <arg name="color_height"             value="$(arg color_height)"/>
    <arg name="color_fps"                value="$(arg color_fps)"/>
  </include>


  <!-- <node name="center_depth_node" pkg="melon" type="center_depth_melon.py" output="log"/> -->
  <!-- <include file="$(find tm5-900-moveit_config)/launch/demo.launch"/> -->
  <!-- <include file="$(find tm5-900-moveit_config)/launch/tm5-900_moveit_planning_execution.launch"/> -->




</launch>

